@font-face {
    font-family: poppins;
    src: url('Fonts/Poppins/Poppins-Regular.ttf');
}

* {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: poppins;
}




 body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: sans-serif;

 }


 header{
    float: left;
    background-color: black;
    padding: 10px 30px;
    width: 100%;
}


#logo {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
    padding: 10px 0px;
}

/*Navigation Bar*/
.navbar{
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    /* border: 1px solid red; */
}

.navbar a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    position: relative;
    line-height: 40px;
}



.navbar a:hover::after {
    background-color: #ED661F;
    content: "";
    height: 2px;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
}





.list1 {
    display: inline-block;
    /* float: left; */
    padding: 20px 30px;
}



.navlist {
   display: block;
}


.navlist#mainlinks {
    text-align: center;
}


#button1 {
    background-color: #ED661F;
    color: azure;
}

.image2 {
    float: left;
    height: 20pc;
    width: 40pc;
    flex-basis: 40%;
}

.description1{
    float: right;
    font-size: 20px;
}

.banner{
    display: flex;
    align-items: center;
    padding: 40px;
    background: url("image/image-1.png");
    border: 1px solid red;
    background-size: contain;
 
}

#header1{
    font-size: 350%;
}

#paragraph1{
    font-size: 150%;
}


#button2{
    background-color: #ED661F;
    font-size: 200%;
    padding: 10px;
}

#lst{
    list-style-type: none;
    overflow: hidden;
}

#list2{

    display: inline-block;
    padding: 30px 40px;
    float:right;
    text-align: center;
    font-weight: 900;
    
}



.company-stats {
    float: left;
    width: 100%;
    padding: 0 10%;
}

.table1{
    background-color: white;
    border: 2px  solid grey;
    padding: 50px 10px;
    float:right;
    margin-top: -100px;
}

.image3{
    float: left;
    height: 20pc;
    width: 40pc;
    flex-basis: 40%;
}

.description2{
    float: right;
}

 .container2{
    display: flex;
    padding: 10px;
 }

 #header2{
    font-size: 250%;
 }

 #paragraph2{
    font-size: 150%;
 }

 .image3{
    padding: 40px;
 }

/* Product categories */

.product-categories {

    text-align: center;
    font-weight: 700px;
    font-size: 20px;
}


.popular-section {
    float: left;
    width: 100%;
    padding: 30px 5%;
}

.most-popular {
    display: flex;
    justify-content: space-between;
}

#popular{
font-size: 30px;
font-family: poppins;

}

.most-popular-items {
flex-basis: 300px;
padding: 10px;

}


.most-popular-items img {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.most-popular-items p {
    line-height: 1.66;
}

/* Newest Items */
.newest-category {
    float: left;
    width: 100%;
    padding: 30px 5%;
}

#new-items-header {
    font-size: 30px;
}

.new-items {
    display: flex;
    justify-content: space-between;
}

.newest-items {
    flex-basis: 300px;
    padding: 10px;
    
}

.newest-items img {
    float: left;
    width: 100%;
    margin-bottom: 10px;

}

.new-items p {
    line-height: 1.66;
}


/* Customer Feedback SEction */
    .customer-feedback {
        float: left;
        width: 100%;
        padding: 30px 5%;
    }

    #feedback-header {
        font-size: 30px;
    }

    .feedback-container {
        display: flex;
        justify-content: space-between;
    }

    .review {
        flex-basis: 400px;
        padding: 15px;
        border: 1px solid #cccccc;
        margin: 15px 0;
        border-bottom: 5px solid #cccccc;

    }

    .stars {
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .stars .star {
        font-size: 5rem;
        color: #ED661F;
    }

    .stars .star.gray {
        color: #cccccc;
    }

    .profile {
        float: left;
        width: 100%;
        margin: 15px 0;
    }

    .profile img {
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .profile h4 {
        float: right;
        width: calc(100% - 110px);
        line-height: 60px;

    }

    .review h3 {
        font-size: 2rem;
    }


    #read-more {
        float: right;
        color: black;
        font-size: 30px;
        font-weight: 700;
        padding-right: 50px;
        padding-top: 20px;
        background: none;
    }


    #arrow{
        color: #ED661F;
        font-weight: 700;
        font-size:4rem;
    }


    .subscribe {
        text-align: center;
        font-size: 1rem;
        background-color: black;
        float: left;
        width: 100%;
        padding: 100px 0;
        color: #ffffff;
    }
    


    .subscribe-form {
        clear: both;
        margin: 30px auto;
        display: block;
        /* border: 2px solid teal; */
        width: 100%;
    }

    .subscribe-form #textfield {
        background: #ffffff;
        padding: 1px 30px;
        font-weight: 600;
        height: 50px;
        font-size: 1.2rem;
        margin: 0;
        /* ove4rflow: hidden; */
    }


    .subscribe-form #subscribe-button {
        background: #ED661F;
        color: #ffffff;
        font-size: 1.2rem;
        padding: 5px 30px;
        font-weight: 700;
        height: 50px;
        margin: 0;
        line-height: 40px;
        margin-left: -4px
    }



